* {
    box-sizing: border-box;

}

body {
    background-color: rgb(13, 122, 146);
    color:whitesmoke;
    font-family: 'Courier New', Courier, monospace;
}
.concertCardDiv {
    border-radius: 200px;
    border: double rgb(146, 182, 189) .5px;
    border-width: 66px;
    text-align: center;

    }

    #mainPage-title {
        border-radius: 200px;
        border: solid rgb(146, 182, 189) .5px;
        border-width: 5px;
        text-align: center;


    }